* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
    font-weight: 100;
    font-size: 16px;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(49 72 86 / 84%);
    color: white;
    width: 100%;
    height: 100px;
}

.navbar h1 {
    font-family: 'Secular One', sans-serif;
    line-height: 25px;
    display: flex;
    flex-direction: column;
}

.navbar a {
    font-family: 'Secular One', sans-serif;
}

.navbar #footSpan {
    font-size: 19px;
    font-weight: 100;
    color: rgb(197 218 231 / 84%);
}

#guitar {
    display: flex;
}

#guitar i {
    font-weight: 900;
    color: #daa766;
    font-size: 45px;
    margin-left: 15px;
} 

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar a {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    color: white;
}

a.current {
    color: #daa766
}

ul a:hover {
    color: #daa766
}

.content {
    height: 740px;
    background-color: #688191;
    padding-top: 50px;
}

.content div {
    width: 1070px;
    height: 630px;
    margin: auto;
    background: url(intro.jpg) no-repeat bottom center/cover;;
}

.btn {
    cursor: pointer;
    padding: 10px 30px;
    color: #fff;
    border: 1px solid;
    text-decoration: none;
    float: left;
    margin-top: 150px;
    margin-left: 50px;
}

.btn:hover {
    background-color: rgb(148, 132, 132);
}

.about p,header p  {
    font-weight: 100;
    font-size: 16px;
    line-height: 1.4;
    width: 460px;
    margin-bottom: 16px;
} 

.h2 {
    padding: 25px 0;
    font-family: 'Rubik';
    font-weight: 900;
    font-size: 40px;
    color: #e4e7f8;
    text-align: center;
}

.background {
    background-color: #688191;
}

.about {
    padding-bottom: 100px;    
}


.about2 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#firstDiv {
    margin-left: 30px;
}

.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
}

.flex-grid .column {
    flex: 320px;
    max-width: 320px;
    padding: 0 4px;
}

.column a {
    color: #333;
    text-decoration: none;
}

.column img {
    width: 100%;
    margin-top: -1px;
}

.hov:hover {
    opacity: 0.7;
}

.shows {
    padding: 0px 20px 70px;
}

.shows header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.shows p {
    text-align: center;
    padding: 0 40px;
}

.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 30px;
}

.flex-items > div {
    padding: 20px;
}

.shows img {
    width: 100%;
}











