:root {
    --font-color: #555;
    --font-hover-color: orange;
}

body {
    background-color: #688191 ; 
}

.container {
    line-height: 0;
    display: flex;
    justify-content: center;
}

.form-group {
    margin-bottom: 0.7em;
}

.form-label {
    font-size: .85em;
    color: var(--font-color);
    display: block;
    opacity: 0;
    transition: all .5s;
    transform: translateX(+50px);
}

.form-control {
    box-shadow: none;
    border-radius: 0;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    font-size: 18px;
    font-family: 'Rubik';
    border-width: 1.3px;
    padding: 3px 0px; 
}


.form-control::placeholder {
    color: rgba(229, 240, 247, 0.84);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--font-hover-color);
    outline: none;
    border-width: 3px;
    margin-bottom: -1.7px;
}

.form-control:hover {
    border-width: 3px;
    margin-bottom: -1.7px;    
}

.form-group:focus-within {
    transform: scale(1.1,1.1);
}

.form-control:invalid:focus {
    border-color: red;
}

.form-control:valid:focus {
    border-color: green;
}

.btn2 {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 10px 50px;
    text-transform: uppercase;
    font-family: 'Rubik';
    font-size: 18px;
    margin-top: 0.7em;
}

.btn2:hover {
    border-color: var(--font-hover-color);
    color: var(--font-hover-color);
    cursor: pointer;
}

textarea {
    resize: none;
}

.focused > .form-label {
    opacity: 1;
    transform: translateX(0px);
    color: rgb(197 218 231 / 84%);
}

.form-control,.btn2,.container {
    background-color: #688191;
    color: rgba(229, 240, 247, 0.84);
}

.good {
    text-align: center;
    margin-top: 100px;
}

.good img {
    width: 65px;
}

.conDiv {
    line-height: initial;
    margin-right: 40px;
    color: #e4e7f8;
}

.conDiv a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 20px;
    display: block;
}

.conDiv a:hover {
    color: #aaa;
}

/* :root {
    --font-color: #555;
    --font-hover-color: orange;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Ralway", sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 500px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    padding: 2em;
    background-color: #fff;
}

.form-group {
    margin-bottom: 1.5em;
}

.form-label {
    font-size: .75em;
    color: var(--font-color);
    display: block;
    opacity: 0;
    transition: all .3s;
    transform: translateX(-50px);
}

.form-control {
    box-shadow: none;
    border-radius: 0;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    font-size: 1.25em;
    transition: all .6s;
}

.form-control::placeholder {
    color: #aaa;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--font-hover-color);
    outline: none;
}

.form-group:focus-within {
    transform: scale(1.1,1.1);
}

.form-control:invalid:focus {
    border-color: red;
}

.form-control:valid:focus {
    border-color: green;
}

.btn {
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: var(--font-color);
    font-size: 1em;
    padding: 10 50px;
    text-transform: uppercase;
}

.btn:hover {
    border-color: var(--font-hover-color);
    color: var(--font-hover-color);
}

textarea {
    resize: none;
}

.focused > .form-label {
    opacity: 1;
    transform: translateX(0px);
} */




