.playerContainer {
    height: 200px;
    width: 954px;
    margin: auto;
    padding-top: 50px;
}

.music-container {
    background-color: #555d77;
    display: flex;
    padding: 20px 30px;
    position: relative;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 110px;
}

.img-container img {
    width: inherit;
    height: 94.5px;
    object-fit: cover;
    position: absolute;
    bottom: -20px;
    left: -29.3px;
    animation-play-state: paused;
}

.music-container.play .img-container img {
    animation-play-state: running;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-left: 213px;
}

.action-btn {
    background-color: #555d77;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
}

.action-btn:focus {
    outline: 0;
}

.music-info {
    background-color: rgb(64 64 122 / 50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    opacity: 1;
    transform: translateY(-100%);
    padding: 20px;
}

.music-info h4 {
    margin: 0;
    text-align: center;
}

.progress-container {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

#listen {
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid;
    background-color: #688191;
    margin-left: 40px;
}

#next {
    margin-right: 90px;
}